@media only screen and (max-width: 567px) {
 
.gridIndex {display: block;}

.gridGarnish {display: block;}


.menuPrincipal { display: block;
    align-items: right;
    max-width: 100px;
}
.headerCursos {display: block ;}
}


